task3/src/main/java/tk/dadle8/web/services/client/generated/countries.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.web.dadle8.tk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.web.dadle8.tk/" name="CountryService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.web.dadle8.tk/" schemaLocation="http://localhost:8080/countries?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getCountries">
<part name="parameters" element="tns:getCountries"></part>
</message>
<message name="getCountriesResponse">
<part name="parameters" element="tns:getCountriesResponse"></part>
</message>
<message name="IllegalValueTypeException">
<part name="fault" element="tns:IllegalValueTypeException"></part>
</message>
<message name="createCountry">
<part name="parameters" element="tns:createCountry"></part>
</message>
<message name="createCountryResponse">
<part name="parameters" element="tns:createCountryResponse"></part>
</message>
<message name="updateCountry">
<part name="parameters" element="tns:updateCountry"></part>
</message>
<message name="updateCountryResponse">
<part name="parameters" element="tns:updateCountryResponse"></part>
</message>
<message name="IllegalIdException">
<part name="fault" element="tns:IllegalIdException"></part>
</message>
<message name="deleteCountry">
<part name="parameters" element="tns:deleteCountry"></part>
</message>
<message name="deleteCountryResponse">
<part name="parameters" element="tns:deleteCountryResponse"></part>
</message>
<portType name="CountryWebService">
<operation name="getCountries">
<input wsam:Action="http://services.web.dadle8.tk/CountryWebService/getCountriesRequest" message="tns:getCountries"></input>
<output wsam:Action="http://services.web.dadle8.tk/CountryWebService/getCountriesResponse" message="tns:getCountriesResponse"></output>
<fault message="tns:IllegalValueTypeException" name="IllegalValueTypeException" wsam:Action="http://services.web.dadle8.tk/CountryWebService/getCountries/Fault/IllegalValueTypeException"></fault>
</operation>
<operation name="createCountry">
<input wsam:Action="http://services.web.dadle8.tk/CountryWebService/createCountryRequest" message="tns:createCountry"></input>
<output wsam:Action="http://services.web.dadle8.tk/CountryWebService/createCountryResponse" message="tns:createCountryResponse"></output>
<fault message="tns:IllegalValueTypeException" name="IllegalValueTypeException" wsam:Action="http://services.web.dadle8.tk/CountryWebService/createCountry/Fault/IllegalValueTypeException"></fault>
</operation>
<operation name="updateCountry">
<input wsam:Action="http://services.web.dadle8.tk/CountryWebService/updateCountryRequest" message="tns:updateCountry"></input>
<output wsam:Action="http://services.web.dadle8.tk/CountryWebService/updateCountryResponse" message="tns:updateCountryResponse"></output>
<fault message="tns:IllegalIdException" name="IllegalIdException" wsam:Action="http://services.web.dadle8.tk/CountryWebService/updateCountry/Fault/IllegalIdException"></fault>
<fault message="tns:IllegalValueTypeException" name="IllegalValueTypeException" wsam:Action="http://services.web.dadle8.tk/CountryWebService/updateCountry/Fault/IllegalValueTypeException"></fault>
</operation>
<operation name="deleteCountry">
<input wsam:Action="http://services.web.dadle8.tk/CountryWebService/deleteCountryRequest" message="tns:deleteCountry"></input>
<output wsam:Action="http://services.web.dadle8.tk/CountryWebService/deleteCountryResponse" message="tns:deleteCountryResponse"></output>
<fault message="tns:IllegalIdException" name="IllegalIdException" wsam:Action="http://services.web.dadle8.tk/CountryWebService/deleteCountry/Fault/IllegalIdException"></fault>
<fault message="tns:IllegalValueTypeException" name="IllegalValueTypeException" wsam:Action="http://services.web.dadle8.tk/CountryWebService/deleteCountry/Fault/IllegalValueTypeException"></fault>
</operation>
</portType>
<binding name="CountryWebServicePortBinding" type="tns:CountryWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getCountries">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalValueTypeException">
<soap:fault name="IllegalValueTypeException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createCountry">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalValueTypeException">
<soap:fault name="IllegalValueTypeException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateCountry">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalIdException">
<soap:fault name="IllegalIdException" use="literal"></soap:fault>
</fault>
<fault name="IllegalValueTypeException">
<soap:fault name="IllegalValueTypeException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteCountry">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalIdException">
<soap:fault name="IllegalIdException" use="literal"></soap:fault>
</fault>
<fault name="IllegalValueTypeException">
<soap:fault name="IllegalValueTypeException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="CountryService">
<port name="CountryWebServicePort" binding="tns:CountryWebServicePortBinding">
<soap:address location="http://localhost:8080/countries"></soap:address>
</port>
</service>
</definitions>